body {
    margin: 0;
    height: 100vh;
    font-family: 'Courier new', Courier, monospace;
    background: linear-gradient(to bottom,
    lightskyblue, lightsteelblue);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease;
}

.content-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: aliceblue;
    width: 100rem;
    min-height: 40rem;
    margin: 10px;
    border-radius: 5px;
    box-shadow: black 0 5px 1rem;
    padding: 3rem;
}

h2 {
    font-weight: 400;
}

.loading-spinner{
    display: none;
}

.photos-amount {
    padding: 20px 10px;
    font-size: 20px;
    text-align: center;
    background-color: white;
    border-radius: 5px;
}

.errorMessage {
    display: none;
    font-weight: 600;
    color: red;
    margin: 10px;
}

.btn {
    margin: 20px 0;
    text-transform: uppercase;
    min-width: 250px;
    min-height: 50px;
    font-size: 18px;
    background-color: black;
    color: white;
    border-radius: 5px;
    border: none;
}

.btn:hover {
    background-color: darkseagreen;
    color: black;
    cursor: pointer;
    transition: background-color 150ms ease-in-out;
}


.hidden-label {
    left: -100vw;
    position: absolute;
}

.gallery-img {
    width: 250px;
    height: 400px;
    object-fit: cover;
    border-radius: 5px;
    margin: 5px;
}

.gallery {
    display: none;
    flex-wrap: wrap;
    justify-content: center;
    width: 100rem;
    overflow: scroll;
}